snippet defn
	(defn ${1}
		[]
		)
snippet tst
	(ns ${1}
		(:require [clojure.test :refer :all]
							[${2}]))
	(deftest ${3}
		(testing "${4}"
			${5}))
snippet deftest
	(deftest ${1}
		(testing "${2}"
			${3}))
snippet testing
	(testing "${1}"
		(is (= ${2} ${3})))
snippet ns
	(ns ${1}
		(:gen-class)
		${2})
