snippet it
	it('${1}', () => {
	})
snippet log
	console.log(${1})
snippet insp
	console.log(require('util').inspect(${1}, { depth: null }))
snippet const
	const ${1} = 
snippet req
	const ${1} = require('')
snippet import
	import ${1} from ''
snippet desc
	describe('${1}', () => {
	})
snippet f
	(${1}) => 
snippet cf
	const ${1} = () => ''
snippet m
	module.exports = 
snippet ed
	export default ${1}
snippet ao
	(${1}) => ({})
